{% extends 'base.html.twig' %}

{% block title %}{{ site_settings.siteTitle }}{% endblock %}
{% block stylesheets %}
    <!-- Bootstrap core CSS -->
    {{ encore_entry_link_tags('app') }}
    <style></style>
{% endblock %}
        {% block body %}
            <!-- Start Banner Hero -->
            <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    {% if sliders %}
                        {% for s in sliders %}
                            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="{{ s.id }}"
                                {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    {% endif %}
                </ol>
                <div class="carousel-inner">
                    {% if sliders %}
                        {% for s in sliders %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="container">
                                    <div class="row p-5">
                                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                            <img class="img-fluid"
                                                 src="{{ asset('uploads/images/sliders/'~ s.imageFile) }}"
                                                 alt="{{ s.title }}">
                                        </div>
                                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                                            <div class="text-align-left align-self-center">
                                                <h1 class="h1 text-success">{{ s.title }}</h1>
                                                <h3 class="h2">{{ s.subTitle }}</h3>
                                                <p>{{ s.content|raw }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
                   role="button" data-bs-slide="prev">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
                   role="button" data-bs-slide="next">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <!-- End Banner Hero -->

            <!-- Start Categories of The Month -->
            <section class="container py-5">
                <div class="row text-center pt-3">
                    <div class="col-lg-6 m-auto">
                        <h1 class="h1">Categories of The Month</h1>
                        <p>
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% if categories %}
                        {% for c in categories %}
                            <div class="col-12 col-md-4 p-5 mt-3">
                                <a href="/{{ c.slug }}">
                                    <img src="{{ asset('uploads/images/categories/'~c.image) }}" alt="{{ c.name }}"
                                         class="rounded-circle img-fluid border">
                                </a>
                                <h5 class="text-center mt-3 mb-3">{{ c.name }}</h5>
                                <p class="text-center"><a class="btn btn-success" href="/{{ c.slug }}">Go Shop</a></p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
            <!-- End Categories of The Month -->


            <!-- Start Featured Product -->
            <section class="bg-light">
                <div class="container py-5">
                    <div class="row text-center py-3">
                        <div class="col-lg-6 m-auto">
                            <h1 class="h1">Featured Product</h1>
                            <p>
                                Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% if products %}
                            {% for p in products %}
                                <div class="col-12 col-md-4 mb-4">
                                    <div class="card h-100">
                                        <a href="/product/{{ p.slug }}">
                                            <img src="{{ asset('uploads/images/products/'~p.imageFile) }}"
                                                 class="card-img-top"
                                                 alt="{{ p.title }}">
                                        </a>
                                        <div class="card-body">
                                            <ul class="list-unstyled d-flex justify-content-between">
                                                <li>
                                                    {% for i in range(1,random(2,5)) %}
                                                        <i class="text-warning fa fa-star"></i>
                                                    {% endfor %}
                                                </li>
                                                <li class="text-muted text-right">
                                                    {% if p.discountedPrice > 0 %}
                                                        ${{ p.discountedPrice }}
                                                    {% else %}
                                                        ${{ p.price }}
                                                    {% endif %}
                                                </li>
                                            </ul>
                                            <a href="product/{{ p.slug }}"
                                               class="h2 text-decoration-none text-dark">{{ p.title }}</a>
                                            <p class="card-text">{{ p.shortContent|raw }}</p>
                                            <p class="text-muted">Reviews ({{ random(0, 1000) }})</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </section>
            <!-- End Featured Product -->


        {% endblock %}
    {% block footer %}
      {% include('footer.html.twig') %}
    {% endblock %}

