{% extends 'base.html.twig' %}
{% block title %}{{page_title}}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <main class="form-signin">
        {% if error %}
            <div class="alert alert-warning">
                <ul style="text-align:left;">
                    {% for e in error %}<li>{{ e|raw }}</li>{% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {{ form_start(form, { 'attr' : { 'class' : 'MyClass' } }) }}
         {{ form_errors(form) }}
        <img class="mb-4" src="{{ asset('build/images/logo.png') }}" alt="{{page_title}}" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">{% trans from 'messages'  into lang%}Make a new account.{% endtrans %}</h1>
        {{ form_widget(form) }}

        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </main>
{% endblock %}